@import url("normalize.css"); 
.clear{
	clear: both;
}
body{
	max-width: 960px;
	margin: 0 auto;
}
p{
	margin: .5%;
}
#wrapper{
	width: 100%;
	border: 3px solid silver;
	border-radius: 25px;
	background: whitesmoke;
}

header, #intent, #competitors{
	border-bottom: 1px dotted black;
	overflow: hidden;
}

h1, h2, h3{
	text-align: center;
	margin: 2% .5%;
	color:#0066ff;
}

header h1, header h2, header h3{
	font-family: "Shadows Into Light";
}

header h3{
	width: 49%;
	margin: .5%;
	float: left;
}
.project{
	text-align: left;
}
.designer{
	text-align: right;
}
#competitors{
	width: 100%;
}
.comp{
	width: 31.3333333%;
	float: left;
	margin: .5%;
}

.comp p{
	margin
}
#audience{
	border-top: 
}
.target h3{
	text-align: left;
	margin-bottom: 0;	
}

.target p{
	margin-left: 15%;
}